
.overallContainer {
    position: relative;
    width: 98vmin;
    height: 98vmin;
    margin: auto;
    background-image: url("./images/light.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    z-index: -2;
}

.overallContainer {
    animation-name: fadeimage;
    animation-duration: 22s;
}

@keyframes fadeimage {
    0%  {  background-image: url("./images/champagne.jpg");
            opacity: 0.2;}
    3%  {  background-image: url("./images/champagne.jpg");
            opacity: 1;}
    55%  {  background-image: url("./images/champagne.jpg");
                opacity: 1;}
    100% {  background-image: url("./images/light.jpg");
  }}
 

.molecule {
    position: absolute;
    width: 15vmin;
    height: 15vmin;
    background-image: url("./images/molecule4.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    opacity: 0.8;
    left: 38vmin;
    top: 49vmin;
    transform: rotate(333deg);
    animation-name: rotatemolecule;
    animation-duration: 28s;
    
}





@keyframes rotatemolecule {
            0%  {width: 75vmin;
                height: 75vmin;
                opacity: 0;
                transform: rotate(800deg);}
            
            100% { width: 15vmin;
                height: 15vmin;
                opacity: 0.8;
                transform: rotate(333deg)}
          }



.colour {
    position: absolute;
    width: 30vmin;
    height: 30vmin;
    background-image: url("./images/blue.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    opacity: 0.8;
    left: 38vmin;
    top: 49vmin;
    transform: rotate(333deg);
    animation-name: rotateSpatula;
    animation-duration: 30s;
        }

@keyframes rotateSpatula {
            0%  {width: 75vmin;
                height: 75vmin;
                opacity: 0.6;
                transform: rotate(600deg);}
            
            100% { width: 15vmin;
                height: 15vmin;
                opacity: 0;
                transform: rotate(333deg)}
          }
        

.scissors {
            position: absolute;
            width: 30vmin;
            height: 30vmin;
            background-image: url("./images/scissors.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto 100%;
            opacity: 0;
            left: 38vmin;
            top: 49vmin;
            transform: rotate(333deg);
            animation-name: rotateScissors;
            animation-duration: 28s;
            animation-delay: 3s;
                }
        
        @keyframes rotateScissors {
                    0%  {width: 75vmin;
                        height: 75vmin;
                        opacity: 0.6;
                        transform: rotate(600deg);}

                    
                    100% { width: 15vmin;
                        height: 15vmin;
                        opacity: 0;
                        transform: rotate(333deg)}
                  }

.lightLayer {
    position: absolute;
    width: 100%;
    height: auto;
    margin: auto;
    opacity: 0;
    z-index: -1;
    animation-name: flash;
    animation-delay: 18s;
    animation-duration: 4s;
}

.lightLayer img {
    position: absolute;
    width: 100%;
    height: auto;
}

@keyframes flash {
    0%  {  opacity: 0;}
    
    50% { opacity: 1;}
    
    100% {  opacity: 0;}
  }



  .whiteContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: white;
    animation-name: whiten;
    animation-duration: 23s;
    z-index: 5;
}

@keyframes whiten {
    0% {  background-color: transparent;
            opacity: 0;
            }
    93% {  background-color: transparent;
        opacity: 0;
        }
    100% {    background-color: white;
            opacity: 1;
            }
}