.slowopening {
    position: relative;
    width: 98vmin;
    height: 98vmin;
    margin: auto;
    background-color: transparent;
    animation-name: open;
    animation-duration: 2s;
    z-index: 5;
}

@keyframes open {
    0% {
        background-color: white;}
    100% {
        background-color: transparent;}
    }


.overallContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
    background-image: url("./images/light.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    z-index: -2;
}

.overallContainer {
    animation-name: fadeimage;
    animation-duration: 22s;
}

@keyframes fadeimage {
    /* 0%  {  background-image: url("./images/champagne2.jpeg");
            opacity: 0.2;} */
    0%  {  background-image: url("./images/champagne2.jpg");
            opacity: 0.6;}
    20% {  background-image: url("./images/champagne2.jpg");
        opacity: 0.85;}
    40% {  background-image: url("./images/champagne2.jpg");
        opacity: 0.85;}
    55%  {  background-image: url("./images/champagne2.jpg");
                opacity: 0.6;}
    100% {  background-image: url("./images/light.jpg");
  }}
 

.molecule {
    position: absolute;
    width: 15vmin;
    height: 15vmin;
    background-image: url("./images/molecule4.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    opacity: 0.7;
    left: 28vmin;
    top: 10vmin;
    transform: rotate(328deg);
    animation-name: rotatemolecule;
    animation-duration: 26s;
}

@keyframes rotatemolecule {
            0%  {width: 75vmin;
                height: 75vmin;
                left: 44vmin;
                top: 20vmin;
                opacity: 0.6;
                transform: rotate(600deg);}           
            100% { width: 15vmin;
                height: 15vmin;
                left: 23vmin;
                top: 22vmin;
                opacity: 0.3;
                transform: rotate(338deg)}
          }

.lightLayer {
    position: absolute;
    width: 100%;
    height: auto;
    margin: auto;
    opacity: 0;
    z-index: -1;
    animation-name: flash;
    animation-delay: 16s;
    animation-duration: 6s;
}

.lightLayer img {
    position: absolute;
    width: 100%;
    height: auto;
}

@keyframes flash {
    0%  {  opacity: 0;}
    
    50% { opacity: 1;}
    
    100% {  opacity: 1;}
  }

.whiteContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: white;
    animation-name: whiten;
    animation-duration: 23s;
    z-index: 5;
}

@keyframes whiten {
    0% {  background-color: transparent;
            opacity: 0;
            }
    90% {  background-color: transparent;
        opacity: 0;
        }
    100% {    background-color: white;
            opacity: 1;
        }
}