
* {font-family: 'Nunito Sans', sans-serif;}

button {
    all: revert; 
    border: transparent;
    background-color: transparent;
    box-shadow: none;
    outline: none;
    font-family: 'Inter', sans-serif;
    font-size: 1.9vmin;
    color: #101010;
    background-color: white;
  }

.overallContainer{
        position: relative;
        width: 98vmin;
        height: 98vmin;
        margin: auto;
        background-image: url("../images/floatingBackground10shadowperspective.jpeg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto 100%;
    }


.whiteContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    opacity: 0;
    background-color: transparent;
    animation-name: unwhiten;
    animation-duration: 10s;
    z-index: 7;
}

@keyframes unwhiten {
    0% {  background-color: white;
            opacity: 1;
            }
    15% {  background-color: white;
        opacity: 1;
        }
    100% {    background-color: transparent;
            opacity: 0;
            }
}

#secondaryContainer { 
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
}

/* reveal Turner 1st*/
#secondaryContainer {
    animation-name: slowlyOpen;
    animation-duration: 10s;
}

@keyframes slowlyOpen {
    0% {  opacity:0;}
    40% {  opacity:0;}
    80% {    opacity: 1;}
}


.leftMolecule {
    position: absolute;
    width: 15vmin;
    height: 15vmin;
    background-image: url("../images/molecule4.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    opacity: 0.35;
    left: 23vmin;
    top: 22vmin;
    z-index: 8;
    transform: rotate(333deg);
    animation-name: rotateMolecule;
    animation-duration: 80s;
}

@keyframes rotateMolecule {
    0%  {transform: rotate(693deg);
        opacity: 0}
    2.5%  {transform: rotate(690deg);
        opacity: 0.4}  
    /* 71% {transform: rotate(363deg)} */
    100% {transform: rotate(333deg);
        opacity: 0.35}
}


.plinth {
    position: absolute;
    width: 23vmin;
    height: 23vmin;
    background-image: url("../images/plinth.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    left: 71vmin;
    top: 76.3vmin;
    z-index: 4;
    animation-name: introPlant;
    animation-duration: 18s;
}

.statue {
    position: absolute;
    width: 39vmin;
    height: 52vmin;
    left: 63.7vmin;
    top: 42.6vmin;
    margin: auto;
    background-image: url("../images/bronze.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    z-index: 9;
    opacity: 0.9;
    animation-name: introPlant;
    animation-duration: 18s;
} 

.lewittDrawing {
    position: absolute;
    width: 16vmin;
    height: 19vmin;
    left: 61.2vmin;
    top: 28vmin;
    margin: auto;
    opacity: 0.55;
    animation-name: delayArt;
    animation-duration: 20s;
}

.lewittDrawing img {
    position:absolute;
    width: 100%;
    height: auto;
} 

@keyframes delayArt {
    0% {opacity:0;}
    30% {opacity: 0;}
    52% {opacity: 0.95;}
    80% {opacity: 0.95;}
    100% {opacity: 0.55;}
}

.galleryPlant {
    position: absolute;
    width: 25vmin;
    height: 44vmin;
    left: 35.4vmin;
    top: 22.1vmin;
    margin: auto;
    background-image: url("../images/palmcopy.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    transform: rotate(0deg);
    z-index: 3;
    opacity: 0.75;
    animation-name: introPlant;
    animation-duration: 18s;
}


.plantpotContainer {
    position: absolute;
    width: 11vmin;
    height: 13vmin;
    left: 45vmin;
    top: 51.5vmin;
    z-index: 2;
    opacity: 0.75;
    animation-name: introPlant;
    animation-duration: 18s;
}

.plantpotImage {
    width: 100%;
    height: auto;
    transform: rotate(0deg) ;
}

@keyframes introPlant {
    0% {opacity:0;}
    54% {opacity: 0;}
    69% {opacity: 0.9;}
    100% {opacity: 0.9;}
}


.turner {
    position: absolute;
    width: 30vmin;
    height: 16vmin;
    right: 40vmin;
    top: 47.6vmin; 
    background-image: url("../images/Turner2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 88%;
    z-index: 4;
    opacity: 0.85;
    transform: rotate(346.9deg);
    /* animation-name: delayArt2;
    animation-duration: 16.1s; */
}

.easel {
    position: absolute;
    width: 30vmin;
    height: 32vmin;
    right: 40.2vmin;
    top: 42vmin; 
    background-image: url("../images/easel1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    z-index: 3;
    opacity: 0.7;
    transform: rotate(-2deg);
    /* animation-name: delayArt2;
    animation-duration: 16.1s; */
}

/* @keyframes delayArt2 {
    0% {opacity:0;}
    55% {opacity: 0;}
    69% {opacity: 0.8;}
    99.5% {opacity: 0.8;}
    100% {opacity: 0.8;}
} */

 /*  .seurat {
    position: absolute;
    width: 30vmin;
    height: 11vmin;
    right: 33vmin;
    top: 50vmin; 
    z-index: 8;
    opacity: 0;
    animation-name: delayArt2;
    animation-duration: 12s;
}

@keyframes delayArt2 {
    0% {opacity:0;}
    10% {opacity:0;}
    30% {opacity: 0.3;}
    60% {opacity: 0.35;}
    100% {opacity: 0;}
}

.seurat_picture {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../images/seurat2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 88%;
    z-index: 2;
}

.seurat_frame {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../images/woodenFramePaler.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 88%;
    z-index: 3;
} */

.colouredDivider {
    position: absolute;
    width: 37.6vmin;
    height: 64vmin;
    left: 52.8vmin;
    top: 16.8vmin;
    background-color: rgb(100, 53, 2);
    border-style: solid;
    border-width: 0.2vmin;
    border-bottom-color: steelblue;
    border-left-color: steelblue;
    border-top-color: white;
    border-right: white;
    z-index: 3;
    opacity: 0.2;
    animation-name: bronzeWall;
    animation-duration: 15s;  
}

@keyframes bronzeWall {
    0% {  opacity:0;}
    72% {  opacity:0;}
    100% {    opacity: 0.2;}
}

.colouredFloor1 {
    position: absolute;
    right: 43.5vmin;
    top: 60vmin;
    /*border-bottom: 5vmin solid rgb(100, 53, 22);*/
    border-bottom: 5vmin solid coral;
    border-left: 5.7vmin solid transparent;
    border-right: 0vmin solid rgb(100, 53, 22);
    height: 0;
    width: 11.8vmin;
    z-index: 1;
    opacity: 0.15;
    animation-name: delayFloor;
    animation-duration: 20s;
}

.transparentFloor1 {
    position: absolute;
    left: 54.5vmin;
    top: 60vmin;
    width: 0;
    height: 0;
    /*border-top: 5vmin solid rgb(100, 53, 22);*/
    border-top: 5vmin solid coral;
    border-right: 1.6vmin solid transparent;
    z-index: 1;
    opacity: 0.15;
    animation-name: delayFloor;
    animation-duration: 20s;
}

.colouredFloor2 {
    position: absolute;
    left: 53.1vmin;
    top: 81vmin;
    border-bottom: 17vmin solid coral;
    border-left: 0vmin solid transparent;
    border-right: 5.7vmin solid transparent;
    height: 0;
    width: 37.4vmin;
    z-index: 1;
    opacity: 0.15;
    animation-name: delayFloor;
    animation-duration: 20s;
}

.transparentFloor2 {
    position: absolute;
    right: 44.9vmin;
    top: 81vmin;
    width: 0;
    height: 0;
    border-bottom: 17vmin solid coral;
    border-left: 4.5vmin solid transparent;
    z-index: 1;
    opacity: 0.15;
    animation-name: delayFloor;
    animation-duration: 20s;
}

@keyframes delayFloor {
    0% {opacity:0;}
    36% {opacity: 0;}
    50% {opacity: 0.21;}
    100% {opacity: 0.15;}
}

.transparentContainer {
    position: absolute;
    width: 30vmin;
    height: 20.6vmin;
    left: 56.75vmin;
    top: 23.5vmin;
    margin: auto;
    border-radius: 4px;
    z-index: 8;  
}

#projectionContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
    z-index: 3;
    opacity: 0.8;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    z-index: 3;
    opacity: 0.7;
    animation-name: flicker;
    animation-duration: 0.2s;
    animation-iteration-count: 300;
}

@keyframes flicker {
    from    {opacity: 0.85};
    to      {opacity: 0.7};
}


.flexboxPara {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 4;
}

#heading {
    opacity: 1;
    font-size: 1.8vmin;
    color: grey;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    line-height: 80%;
    margin: auto;
    animation-name: delayText; 
    animation-duration: 15.8s;
}
@keyframes delayText {
    0% {  opacity:0;}
    99.8% {  opacity:0;}
    100% {    opacity: 1;}}


.triangle-top-left2, .triangle-right, .triangle-corner {
    position: relative;
    opacity: 0.3;
    z-index: 3;
    }

.triangle-top-left2 {
    position: absolute;
    right: 11.3vmin;
    bottom: 74.5vmin;
    width: 0;
    height: 0;
    border-bottom: 16vmin solid white;
    border-left: 30vmin solid transparent;
    }

.triangle-right {
    position: absolute;
    left: 86.7vmin;
    top: 7.5vmin;
    width: 0;
    height: 0;
    border-top: 36.6vmin solid white;
    border-right: 15vmin solid transparent;
}

.triangle-corner {
    position: absolute;
    left: 86.8vmin;
    bottom: 90.5vmin;
    width: 0;
    height: 0;
    border-bottom: 16vmin solid white;
    border-left: 30vmin solid transparent;
    }

/* Delay lightbeam by 16 seconds */
.lightbeam {
    animation-name: delayLightbeam; 
    animation-duration: 13.8s;
}
@keyframes delayLightbeam {
    0% {  opacity:0;}
    99.8% {  opacity:0;}
    100% {    opacity: 1;}
}

/* Add links and credits */
.extrasContainer {
    display: flex;
    flex-direction: row;
    width: 98vmin;
    margin: auto;
}

.creditContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 88vmin;
    height: 18vmin;
    margin: auto; 
    font-family: 'Inter', sans-serif;
    font-size: 1.7vmin;
    color: #101010;
    background-color: white;
}


#creditLink {
    right: 0vmin;
    height: 3vmin;
    border: 0;
    margin: 1.3vmin;
    margin-right: 0vmin; 
}

.linkx {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 10vmin;
    height: 18vmin;
    margin: auto; 
}

#linxTab {
    left: 0vmin;
    height: 3vmin;
    width: 11vmin;
    border: 0;
    margin: 1.3vmin;
    margin-bottom: 0.7vmin;
    margin-left: 0vmin;
}

#logoBox {
    position: relative;
    left: 0vmin;
    height: 6vmin;
    width: 60%;
    border: 0;
    margin: 0%;
    margin-left: 0.8vmin;
}  

#actualLink {
    position: absolute;
    width: 100%;
    height: 100%;
}

#picture {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    opacity: 0.7;
}

.creditContainer p {
    font-family: 'Inter', sans-serif;
    height: 1.7vmin;
    left: 0vmin;
    border: 0;
    margin: 0.5vmin;
    text-align: right;
}

#line2 {
    width: 90%;
    height: 5vmin;
    left: 0vmin;
    border: 0;
    margin: 0.5vmin;
}










